/**/

.container
{
  width: 95%;
}

.rr
{
  text-align: center;
}

h1
{
  font-family: verdana;
  font-size: 35px;
  font-style: bolder;
}

#pingif
{
  width: 70%;
  text-align: center;
  margin-top: 90px;
}

#btnMapa
{
  font-family: verdana;
  font-size: 20px;
  font-style: bolder;
  margin-top: 100px;
  height: 50px;
}